@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.storage-animation {
  animation-iteration-count: 1 !important;
  animation-duration: 500ms;
}

input[type]:focus {
  box-shadow: none;
}