@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 99px;
}

.list:hover::-webkit-scrollbar-thumb {
  background: #FDB813;
}

.storage-animation {
  animation-iteration-count: 1 !important;
  animation-duration: 500ms;
}

input[type]:focus {
  box-shadow: none;
}